APP_NAME=kidd.
APP_ENV=production
APP_KEY=base64:HJ7Im96gZNP511uHDGLhvhk1IIoqy+DJomSfnUzX2pE=
APP_DEBUG=false
DEBUGBAR_ENABLED=false

APP_URL=https://kidd.md
FRONTEND_URL=https://kidd.md
VITE_API_URL=https://api.kidd.md/v1
SANCTUM_STATEFUL_DOMAINS=kidd.md,api.kidd.md,cp.kidd.md

ROUTER_SHOP_URL=kidd.md
ROUTER_API_URL=api.kidd.md
ROUTER_ADMIN_URL=cp.kidd.md
#ASSET_URL=

APP_LOCALE=ro
APP_FALLBACK_LOCALE=ro
APP_FAKER_LOCALE=ro_RO

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=kidd_production
DB_USERNAME=kidd_user
DB_PASSWORD=pwd

SESSION_DRIVER=redis
SESSION_DOMAIN=.kidd.md

BROADCAST_DRIVER=reverb
BROADCAST_CONNECTION=reverb
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

CACHE_STORE=redis

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# Looking to send emails in production? Check out our Email API/SMTP product!
MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=c48b7d3ae44bff
MAIL_PASSWORD=3e20bb3664a2d9

REVERB_APP_ID=399961
REVERB_APP_KEY=bmurinfn58kbxlt8gifo
REVERB_APP_SECRET=9yxqx5cethjtuxycq9dw
REVERB_HOST="${ROUTER_SHOP_URL}"
REVERB_PORT=8080
REVERB_SCHEME=https

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
VITE_APP_NAME="${APP_NAME}"
