@import 'tailwindcss';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

[x-cloak] {
    display: none !important;
}
/*html {*/
/*    scrollbar-gutter: stable;*/
/*}*/
@theme {

    --color-light-orange: #F8F7F2;
    --color-dark: #22222280;
    --color-card-bg: #F6F6F6;
    --color-olive: #A8BA66;
    --color-dark-olive: #94A652;
    --color-danger: #FD3333;
    --color-charcoal: #020202;
    --color-light-charcoal: #F8F7F2;
    --color-light-border: #EEEEEE;

    --color-light2-border: #DDDDDD;

    /* Color Palette */
    --color-snow: hsla(0, 0%, 100%, 1);
    --color-light-snow: hsla(0, 0%, 98%, 1);
    --color-dark-snow: hsla(0, 0%, 96%, 1);
    --color-darkest-snow: hsla(0, 0%, 93%, 1);
    --color-darken: hsla(0, 0%, 73%, 1);
    --color-olive: hsla(73, 38%, 56%, 1);
    --color-dark-olive: hsla(73, 34%, 49%, 1);
    --color-secondary: hsla(50, 30%, 96%, 1);
    --color-secondary-dark: hsla(70, 35%, 90%, 1);
    --color-charcoal: hsla(0, 0%, 1%, 1);
    --color-baby-eyes: hsla(213, 98%, 79%, 1);
    --color-baby-pink: hsla(359, 49%, 84%, 1);

}

@layer base {
    body {
        @apply text-charcoal bg-white;
    }
}
@utility pt-section {
    padding-top: 50px;

    @variant sm {
        padding-top: 80px;
    }

    @variant lg {
        padding-top: 100px;
    }
}

@utility pb-section {
    padding-bottom: 50px;

    @variant sm {
        padding-bottom: 80px;
    }

    @variant lg {
        padding-bottom: 100px;
    }
}
.py-section{
   @apply pt-section pb-section ;
}
@utility container {
    padding-inline: 16px;
    margin-inline: auto;
    max-width: 100vw;
    @variant sm {
        padding-inline: 20px;
    }

    @variant lg {
        padding-inline: 30px;
    }

    @variant xl {
        max-width: 1422px;
        /*padding-inline: 40px;*/
        padding:0 40px ;

    }
}

* {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

.light_border{
    @apply border border-light-border rounded-2xl
}

.button {
    box-shadow: 0 4px 80px 0 #00000033,
    -8px 0 60px 0 #A3BC5933,
    -8px 0 120px 0 #A3BC5933,
    -8px 0 250px 0 #A3BC590D,
    -8px 0 250px 0 #A3BC590D,
    -8px 0 250px 0 #A3BC5933,
    -8px 0 1250px 0 #A3BC5933;

    @apply w-fit flex items-center justify-center gap-2;
    @apply cursor-pointer rounded-xl;
    @apply text-sm text-white font-bold;
    @apply md:text-base;
    @apply bg-olive hover:bg-dark-olive;
    @apply transition-colors duration-300 ease-in-out;
}
.gradient_r-b{
    @apply bg-gradient-to-l from-red-200 to-blue-300 py-0 px-3 rounded-full
}
.gradient_r-b_dark{
    @apply bg-gradient-to-l from-[#EAC2C3] to-[#97C5FE] py-0 px-3 rounded-full
}
.animated{
    @apply transition-all ease-in-out duration-500
}

.add_favorite:hover{
   .tooltip{
        opacity: 1;
    }
}
.page-fade {
    opacity: 0;
    animation: fade-in .8s ease-out forwards;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}
ul.markers{
    list-style-image: url('../images/icons/list_marker.png');

    li>p{
        opacity: 80%;
    }
}

select {
    -webkit-appearance: none; /* For older Safari */
    appearance: none;

    background-image: url("../images/icons/select-arrows.svg");
    background-repeat: no-repeat;
    background-position: right 1rem center;
}

/* <span class= "border border-slate-300 rounded-full w-2 h-2 peer-checked:hidden"> </span> */
.checkboxLabelCircle::after {
    content: '';
    background-color: #fff;
    border: 1px solid var(--color-light-border);
    padding: 0;
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

input:checked + .checkboxLabelCircle::after {
    content: '| |';
    display: flex;
    justify-content: center;
    color: var(--color-olive);
    align-items: center;
    background-color: transparent;
    border: 1px solid transparent;
    margin-top: -1px;
    font-weight: bold;
    text-wrap: nowrap;
    text-align: center;
    font-size: 10px;
}


/* Sweet alert styling.*/
.swal2-popup{
    border-radius: 50px;
    padding: 1px!important;
    margin-bottom: 25px;
}
.swal2-html-container{
    margin: 0.5rem !important;

}
.swal2-container{
    min-width: 360px!important;
}
