@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

[x-cloak] {
    display: none !important;
}

@theme {

    --color-light-orange: #F8F7F2;
    --color-dark: #22222280;
    --color-card-bg: #F6F6F6;
    --color-olive: #A8BA66;
    --color-dark-olive: #94A652;
    --color-danger: #FD3333;
    --color-charcoal: #020202;
    --color-light-charcoal: #F8F7F2;
    --color-light-border: #EEEEEE;

    /* Color Palette */
    --color-snow: hsla(0, 0%, 100%, 1);
    --color-light-snow: hsla(0, 0%, 98%, 1);
    --color-dark-snow: hsla(0, 0%, 96%, 1);
    --color-darkest-snow: hsla(0, 0%, 93%, 1);
    --color-darken: hsla(0, 0%, 73%, 1);
    --color-olive: hsla(73, 38%, 56%, 1);
    --color-dark-olive: hsla(73, 34%, 49%, 1);
    --color-secondary: hsla(50, 30%, 96%, 1);
    --color-secondary-dark: hsla(70, 35%, 90%, 1);
    --color-charcoal: hsla(0, 0%, 1%, 1);
    --color-baby-eyes: hsla(213, 98%, 79%, 1);
    --color-baby-pink: hsla(359, 49%, 84%, 1);

}
@utility pt-section {
    padding-top: 50px;

    @variant sm {
        padding-top: 80px;
    }

    @variant lg {
        padding-top: 100px;
    }
}
@utility container {
    padding-inline: 10px;
    margin-inline: auto;
    max-width: 100vw;
    @variant sm {
        padding-inline: 20px;
    }

    @variant lg {
        padding-inline: 50px;
    }

    @variant xl {
        max-width: 1422px;
        padding-inline: 80px;

    }
}

* {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.light_border{
    @apply border border-light-border rounded-2xl
}

.animated{
    @apply transition-all ease-in-out duration-500
}

.add_favorite:hover{
   .tooltip{
        opacity: 1;
    }
}
